.button,
.submit_medium_load_posts {
    background: $color-green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: gem(242);
    height: gem(68);
    border-radius: gem(10);
    font-family: 'GT Eesti Pro Display';
    font-size: gem(18);
    line-height: gem(42);
    letter-spacing: gem(0.5);
    color: $color-white;
    border: none;
    transition: $base-bgcolor-transition, box-shadow 0.2s ease-in;
    box-shadow: 0 gem(6) gem(20) transparent;

    &.small {
        width: gem(212);
    }

    &.blue {
        background-color: $color-blue;
    }

    &:hover {
        background-color: $color-green-dark;
        box-shadow: 0 gem(6) gem(20) rgba(37, 188, 19, 0.35);
        
        &.blue {
            background-color: $color-blue-dark;
            box-shadow: 0 gem(6) gem(20) rgba(94, 188, 255, 0.35);
            color: $color-white;
        }
    }
}

.submit_medium_load_posts {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {
    .button {
        width: 100%;
        height: gem(106);
        font-size: gem(28);
        line-height: gem(66);
        border-radius: gem(16);

        &.small {
            width: 100%;
        }
    }
}