footer {
    display: flex;
    justify-content: center;
    padding: gem(15) 0;
    background-color: $color-black;

    a { color: $color-footer-link; }
}

@media only screen and (max-width: 500px) {
    footer {
        padding: gem(25) 0;
        p, a {
            font-size: gem(19);
            line-height: gem(34);
        }
    }
}