header {
    display: flex;
    justify-content: center;
    background: $color-bg-blue;
    width: 100%;
    padding: gem(30) 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;

        a {
            margin: 0 gem(25);
        }
    }

    .logo-wrap img {
        display: block;
        width: gem(130.77);
        height: gem(26);
    }

    .medium-wrap {
        display: block;
        height: gem(15);
        width: gem(19);
        img {
            height: 100%;
            width: auto;
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .medium-wrap {
            height: gem(18.75);
            width: gem(15.625);
        }

        nav {
            // TODO
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: gem(28) 0 gem(35);

        .medium-wrap {
            height: gem(19);
            width: gem(16);
        }

        .logo-wrap img {
            width: gem(126);
            height: gem(25);
        }
    }
}