$color-green: #33C723;
$color-green-dark: #25BC13;

$color-blue: #5EBCFF;
$color-blue-dark: #47ADF5;

$color-white: #fff;
$color-black: #262D3F;
$color-gray: #94999D;
$color-olieve: #666D73;
$color-red: #FF1B1B;

$color-link: #214359;

$color-bg-blue: #F3FAFF;
$color-bg-green: #F3FCF2;

$color-footer-link: #A9B5BD;
$color-input-border-focus: #8ED0FF;
