/*
    screen width: 1500px
    main container: 1146px
    header/footer container: 1380px
*/

.container {
    width: gem(1146);
    display: flex;
    justify-content: space-between;

    &.xl {
        width: gem(1390);
    }
}

section {
    display: flex;
    justify-content: center;
}

.mobile-only {
    display: none !important;
}

.desktop-only {
    display: inline-block;
}

@media only screen and (max-width: 768px) {

    .container {
        width: gem(703);
        // flex-direction: column;
        
        &.xl {
            // flex-direction: row;
            width: gem(703);
        }
    }
}

@media only screen and (max-width: 500px) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: inline-block !important;
    }

    .container {
        width: gem(426);
        flex-direction: column;
        
        &.xl {
            flex-direction: row;
            width: gem(426);
        }
    }
}