@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Gilroy-RegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/GT-Eesti-Pro-Display-Medium.OTF') format('truetype');
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/GT-Eesti-Pro-Display-Bold.OTF') format('truetype');
}