.contacts-hero {
    background-color: $color-bg-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{gem(60)});
    min-height: gem(850);
    
    .container {
        margin-top: gem(30);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        max-width: gem(525);
        margin: gem(21) gem(33);
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: gem(517);

        input {
            margin-bottom: gem(22);
            max-height: gem(68);
            box-shadow: 0 gem(4) gem(20) rgba(94, 188, 255, 0.08);
        }
        
        textarea {
            height: gem(136);
            box-shadow: 0 gem(4) gem(20) rgba(94, 188, 255, 0.08);
        }

        label span.error {
            bottom: gem(-7);
        }
    }

    button {
        margin: gem(40) auto gem(19);
    }

    a {
        color: $color-blue;
        font-size: gem(19);
        line-height: gem(38);

        &:hover {
            text-decoration: underline;
        }
    }
}

label {
    position: relative;

    span.error {
        color: red;
        position: absolute;
        display: none;
        font-family: Gilroy;
        font-size: gem(11);
        line-height: gem(30);
        opacity: 0.7;
        bottom: gem(-27);
    }

    &.error {
        span.error { display: block; }
        input, textarea {
            border: 1px solid $color-red;
            box-shadow: none;
        }
    }
}

input, textarea {
    width: 100%;
    border: 1px solid transparent;
    border-radius: gem(10);
    padding: gem(19) gem(23);
    resize: none;

    font-family: Gilroy;
    font-size: 16px;
    line-height: 30px;

    color: $color-olieve;

    &:focus {
        border: 1px solid $color-input-border-focus;
    }

    &::placeholder {
        opacity: 0.7;
    }
}

@media only screen and (max-width: 768px) {
    .contacts-hero {
        padding: gem(172) 0;
        align-items: flex-start;

        .container {
            margin-top: 0;
        }

        h1 {
            font-size: gem(55);
            line-height: gem(66);
        }

        p {
            max-width: gem(564);
            font-size: gem(18);
            line-height: gem(30);
            margin-bottom: gem(33);
        }

        form {
            max-width: gem(564);

            input {
                margin-bottom: gem(20);
            }

            textarea {
                height: gem(95);
            }
        }

        button {
            margin: gem(39) auto 0;
        }

        .mailto a {
            text-decoration: underline;
        }

        .mailto,
        .mailto a {
            font-size: gem(15);
            line-height: gem(30);
        }
    }
}

@media only screen and (max-width: 500px) {
    .contacts-hero {
        padding: gem(163) 0 gem(69);
        align-items: flex-start;
        height: unset;

        h1 {
            font-size: gem(44);
            line-height: gem(53);
            max-width: gem(250);
        }

        p {
            font-size: gem(23);
            line-height: gem(40);
            max-width: 100%;
            margin: gem(31) 0 gem(42);
        }

        label {
            font-size: gem(19);
            line-height: gem(46);

            &:first-child {
                margin-bottom: gem(10);
            }
        }

        form {
            max-width: 100%;

            input {
                height: gem(45);
                width: gem(364);
                padding: gem(30);
                font-size: gem(23);
                line-height: gem(47);
            }

            textarea {
                height: gem(150);
                width: gem(364);
                padding: gem(30);
                font-size: gem(23);
                line-height: gem(47);
            }
        }

        button {
            margin: gem(50) auto 0;
        }

        .mailto,
        .mailto a {
            font-size: gem(19);
            line-height: gem(34);
        }
    }
}
