.home-hero {
    background: $color-bg-blue;
    padding: gem(183) 0 gem(85);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-bottom: gem(20);
        max-width: gem(814);
    }

    img {
        display: block;
        height: gem(414);
        width: gem(884);
        margin-top: gem(57);
    }
}

.what-we {
    padding: gem(131) 0 gem(331);

    img {
        width: gem(466);
        height: gem(411);
        margin-top: gem(48);
    }

    p {
        max-width: gem(573);

        &:first-child {
            margin-top: gem(10);
        }
    }

    button { margin-top: gem(40); }
}

.more-than {
    padding-bottom: gem(105);

    h2 {
        max-width: gem(460);
        margin-bottom: gem(15);
    }

    p {
        max-width: gem(430);

        &.italic {
            margin: gem(14) 0 gem(12);
        }
    }

    button { margin-top: gem(38); }

    img {
        display: block;
        height: gem(598);
        width: gem(477);
    }
}

.need-insurance {
    padding-top: gem(140);
    padding-bottom: gem(76);
    background: $color-bg-green;

    .right {
        max-width: gem(430);
        margin-left: gem(160);
    }

    .container { justify-content: flex-start; }
    h2 { margin: gem(53) 0 gem(20); }
    .italic { margin: gem(30) 0 gem(45); }

    img {
        display: block;
        height: gem(766);
        width: gem(611);
    }
}

.gig-economy {
    padding: gem(160) 0 gem(152);

    .left {
        max-width: gem(466);
        padding-top: gem(13);
    }

    p { margin: gem(20) 0 gem(26); }

    img {
        display: block;
        height: gem(598);
        width: gem(477);
    }

    // temporary
    ul { max-width: gem(400) }
}

.who-you-are {
    background-color: $color-bg-blue;
    padding: gem(140) 0 gem(76);

    .right { max-width: gem(507); }
    p { margin: gem(14) 0 gem(26); }

    img {
        display: block;
        height: gem(766);
        width: gem(611);
    }
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: gem(157) 0 gem(158);
    position: relative;

    p {
        margin: gem(10) 0 gem(37);
    }

    picture {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;

        img {
            width: 100%;
        }

        &:first-of-type {
            top: 0;
        }

        &:last-of-type {
            bottom: 0;
        }
    }
}


// ========= RESPONSIVE

@media only screen and (max-width: 768px) {
    .home-hero {
        padding: gem(157) 0 gem(127);

        h1 {
            max-width: 97.5%;
            margin-bottom: gem(28);
        }

        p {
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
            margin-top: gem(124);
        }
    }

    .what-we {
        padding: gem(80) 0 gem(172);

        img {
            height: auto;
            width: gem(360);
        }

        .container {
            div {
                &:last-child {
                    display: flex;
                    flex-direction: column;
                    padding-top: gem(0);
                    padding-left: gem(8);
                }
            }
        }

        p {
            &:first-child {
                margin-top: gem(14);
            }

            &:last-of-type {
                margin-top: gem(12);
            }
        }
    }

    .more-than {
        padding-bottom: gem(94);
        img {
            height: gem(420);
            width: auto;
            margin-top: gem(-3);
        }

        p {
            max-width: gem(332);
        }
    }

    .need-insurance {
        padding: gem(80) 0 gem(69.8);

        img {
            height: gem(416);
            width: gem(332);
        }

        .right {
            margin-left: gem(35);
        }

        h2 {
            margin-top: 0;
        }

        .italic {
            margin-bottom: gem(15);
        }
    }

    .gig-economy {
        padding: gem(97) 0 gem(73.6);

        img {
            height: gem(417);
            width: gem(332);
        }

        .left {
            padding-top: 0;
            max-width: gem(326)
        }

        p {
            margin: gem(15) 0;
        }
    }

    .who-you-are {
        padding: gem(81.5) 0 gem(58);

        .container {
            width: gem(700);
        }

        img {
            height: gem(416);
            width: gem(332);
        }

        .right {
            margin-left: gem(35);
        }

        ul {
            padding-left: gem(15);
        }

        p {
            margin: gem(15) 0;
        }
    }

    .contacts {
        padding-top: gem(157);

        h2 {
            font-size: gem(44);
            line-height: gem(56);
        }

        p {
            font-size: gem(18);
            line-height: gem(30);
            max-width: gem(560);
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .home-hero {
        padding: gem(162) 0 gem(121);

        h1 {
            margin-bottom: gem(33);
        }

        p {
            line-height: gem(40);

        }

        img {
            margin-top: gem(80);
        }
    }

    .what-we {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: gem(76) 0 gem(127);

        img {
            height: auto;
            width: gem(455);
            margin-left: gem(33);
            margin-bottom: gem(37);
        }

        .container {
            div {
                &:first-child {
                    display: flex;
                    flex-direction: column-reverse;
                }
                &:last-child {
                    padding-left: gem(0);
                }
            }
        }

        p {
            &:first-child {
                margin-top: gem(19);
                max-width: 100%;
            }
            
            &:last-of-type {
                margin-top: gem(19);
            }
        }

        .button {
            margin-top: gem(32);
        }
    }

    .more-than {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: gem(125);

        img {
            width: gem(463);
            height: auto;
            margin-left: gem(36);
            margin-bottom: gem(-2);
        }

        p {
            max-width: 100%;

            &.italic {
                margin: gem(29) 0 gem(26);
            }

            &:last-of-type {
                white-space: nowrap;
            }
        }

        h2 {
            margin-bottom: gem(19);
        }

        .button {
            margin-top: gem(33);
        }
    }

    .need-insurance {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: gem(38) 0 gem(109);

        img {
            width: auto;
            height: gem(581);
            margin-left: gem(37);
            margin-bottom: gem(10);
        }

        .right {
            margin-left: 0;
        }

        h2 {
            margin: 0 0 gem(33);
        }

        .italic {
            margin-bottom: gem(25);
        }
    }

    .gig-economy {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: gem(125) 0 gem(73.6);

        img {
            height: gem(597);
            width: gem(463);
            margin-left: gem(37);
        }

        h2 {
            margin: gem(-7) 0 gem(20);
        }

        .left {
            padding-top: 0;
            max-width: 100%
        }

        p {
            margin: gem(15) 0;
        }
    }

    .who-you-are {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: gem(81.5) 0 gem(58);

        .container {
            width: gem(426);
        }

        img {
            height: gem(580);
            width: gem(462);
            margin-left: gem(37);
            margin-bottom: gem(12);
        }

        .right {
            margin-left: 0;
        }

        p {
            margin: gem(19) 0;
        }
    }

    .contacts {
        padding-top: gem(206);
        text-align: center;

        h2 {
            font-size: gem(44);
            line-height: gem(53);
        }

        p {
            font-size: gem(23);
            line-height: gem(47);
            max-width: gem(560);
            text-align: center;
            margin: gem(20) 0 gem(45);
        }
    }
}