.resources-hero {
    background: $color-bg-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: gem(192) 0 gem(176);

    img {
        position: absolute;
        top: gem(226);
        right: 0;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        max-width: gem(680);
        margin: gem(17) 0 gem(99);
    }

    .columns {
        columns: 2;
    }

    .learn-more-link {
        margin-bottom: gem(14);
    }
}

.independent-contractors {
    padding: gem(140) 0 0;

    h2 {
        max-width: gem(460)
    }

    .text {
        max-width: gem(554);
    }

    p {
        max-width: gem(493);

        &:first-of-type {
            margin: gem(20) 0 gem(30);
        }
    }

    img {
        display: block;
        height: gem(598);
        width: gem(477);
    }
}

.services {
    padding: gem(140) 0 0;

    h2 {
        max-width: gem(407)
    }

    .text {
        max-width: gem(490);
    }

    p {
        &:first-of-type {
            margin: gem(20) 0 gem(30);
        }
    }

    .learn-more-link {
        max-width: gem(478)
    }

    img {
        display: block;
        height: gem(598);
        width: gem(477);
    }
}

.providers {
    padding: gem(140) 0 gem(140);

    .text {
        max-width: gem(493);
    }

    p {
        &:first-of-type {
            margin: gem(20) 0 gem(30);
        }
    }

    .learn-more-link {
        max-width: gem(478)
    }

    img {
        display: block;
        height: gem(598);
        width: gem(477);
    }
}