.resources-hero {
    background: $color-bg-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: gem(220) 0 gem(160);
    text-align: center;

    .container {
        flex-direction: column;
    }

    h1 {
        margin-bottom: gem(27);
        font-size: gem(70);
        line-height: gem(84);
    }

    p {
        font-size: gem(23);
        line-height: gem(38);
        margin-bottom: gem(150);
    }

    .medium-card {
        width: gem(1144);
        height: gem(670);
        border-radius: gem(10);
        margin: 0 auto gem(40);
        padding: gem(40) gem(40);
        background-color: $color-white;
        box-sizing: border-box;
        box-shadow: 0px gem(4) gem(20) rgba(94, 188, 255, 0.15);

        .logo-block {
            display: flex;

            img {
                display: block;
                border-radius: 50%;
                height: gem(80);
                width: gem(80);
                margin-right: gem(16);
                box-shadow: 0 gem(4) gem(20) rgba(94, 188, 255, 0.15);
            }

            .text-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: gem(9);

                span {
                    font-family: Gilroy;
                    font-size: gem(22);
                    line-height: gem(27);
                    color: $color-black;
                    font-weight: 400;

                    &.date {
                        color: $color-gray;
                        display: flex;
                        align-items: center;

                        span {
                            color: $color-gray;
                            margin: 0 gem(8) gem(8);
                        }
                    }
                }
            }
        }

        .banner {
            height: gem(318);
            width: 100%;
            margin: gem(28) 0 gem(36);
            object-fit: cover;
            border-radius: gem(10);
        }

        h2 {
            font-family: GT Eesti Pro Display;
            font-size: gem(46);
            line-height: gem(54);
            color: $color-black;
            text-align: left;
            transition: color 0.15s ease-in;
        }

        &:hover {
            h2 {
                color: $color-blue;
            }
        }
    }
}

.contacts {
    form {
        display: flex;
        box-shadow: 0 gem(5.12) gem(25) rgba(94, 188, 255, 0.15);
        margin-top: gem(40);
        width: gem(662);

        label {
            width: 100%;
        }

        input {
            border-radius: gem(13);
        }

        .button {
            width: gem(221);
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .resources-hero {
        padding: gem(166) 0 gem(112);

        p {
            margin-bottom: gem(102);
        }

        .medium-card {
            width: 100%;
            height: gem(653);
            margin-bottom: gem(24);

            .banner {
                margin: gem(28) 0 gem(40);
            }

            h2 {
                font-size: gem(36);
                line-height: gem(42);
            }
        }
    }

    .contacts {
        form {
            width: gem(564);
        }
    }
}

@media only screen and (max-width: 500px) {
    .resources-hero {
        padding: gem(163) 0 gem(80);

        h1 {
            font-size: gem(44);
            line-height: gem(53);
            margin-bottom: gem(30);
        }

        p {
            margin-bottom: gem(119);
        }

        .medium-card {
            padding: gem(30);
            height: gem(398);

            .logo-block {
                img {
                    height: gem(75);
                    width: gem(75);
                    margin-right: gem(18);
                }
            }

            .banner {
                margin: gem(37) 0 gem(27);
                height: gem(105);
            }

            h2 {
                font-size: gem(28);
                line-height: gem(34);
            }
        }
    }

    .contacts {
        padding-bottom: gem(226);
        form {
            flex-direction: column;
            width: 100%;
            box-shadow: none;

            label {
                margin-bottom: gem(50);
                box-shadow: 0 gem(5.12) gem(25) rgba(94, 188, 255, 0.15);
                max-height: gem(106);
                padding: 0;
                display: flex;

                input {
                    width: gem(426);
                    height: gem(106);
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            .button {
                width: 100%;
                height: gem(106);
            }
        }
    }
}
